body {
  background-color: #5EDCFB;
}

.search {
  margin: 2px auto;
  width: 300px;
  border-radius: 4px;
  background-color: ghostwhite;
}

.temperature {
  margin-top: 100px;
  text-align: center;
  font-size: xxx-large;
}

hr {
  width: 30px;
}

img {  
  margin: auto;
  display: block;
}

.description {
  text-align: center;
  font-size: x-large;
}